@model KoiMuseum.Data.Dtos.Requests.CombineRegisterRequest.RegisterViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegisterDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateRegisterDetailRequest.Size" class="control-label"></label>
                <input asp-for="CreateRegisterDetailRequest.Size" class="form-control" />
                <span asp-validation-for="CreateRegisterDetailRequest.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateRegisterDetailRequest.Age" class="control-label"></label>
                <input asp-for="CreateRegisterDetailRequest.Age" class="form-control" />
                <span asp-validation-for="CreateRegisterDetailRequest.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateRegisterDetailRequest.Type" class="control-label"></label>
                <input asp-for="CreateRegisterDetailRequest.Type" class="form-control" />
                <span asp-validation-for="CreateRegisterDetailRequest.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateRegisterDetailRequest.Gender" class="control-label"></label>
                <input asp-for="CreateRegisterDetailRequest.Gender" class="form-control" />
                <span asp-validation-for="CreateRegisterDetailRequest.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateRegisterDetailRequest.ImageUrl" class="control-label"></label>
                <input asp-for="CreateRegisterDetailRequest.ImageUrl" class="form-control" />
                <span asp-validation-for="CreateRegisterDetailRequest.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateRegisterDetailRequest.Name" class="control-label"></label>
                <input asp-for="CreateRegisterDetailRequest.Name" class="form-control" />
                <span asp-validation-for="CreateRegisterDetailRequest.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateRegisterDetailRequest.Weight" class="control-label"></label>
                <input asp-for="CreateRegisterDetailRequest.Weight" class="form-control" />
                <span asp-validation-for="CreateRegisterDetailRequest.Weight" class="text-danger"></span>
            </div>

            <!-- Trường nhập cho Registration -->
            <h4>Registration</h4>
            <div class="form-group">
                <label asp-for="createRegistrationRequest.IntroductionOfOwner" class="control-label"></label>
                <input asp-for="createRegistrationRequest.IntroductionOfOwner" class="form-control" />
                <span asp-validation-for="createRegistrationRequest.IntroductionOfOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createRegistrationRequest.IntroductionOfKoi" class="control-label"></label>
                <input asp-for="createRegistrationRequest.IntroductionOfKoi" class="form-control" />
                <span asp-validation-for="createRegistrationRequest.IntroductionOfKoi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}